body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'SeoulNamsan CB', Arial, sans-serif;
    background-color: #023c66;
    color: white;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    height: 1200px;
  }
  
  .app-header, .app-footer {
    background: #589acaff;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #000;
  }
   
  .app-logo {
    border-radius: 10px;
  }
  
  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px 20px;
    background: #023c66;
  }
  
  .section-title {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 30px;
  }
  .text-container {
    background: #d9d9d9;
    width: 800px;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    color: black;
    font-size: 25px;
    line-height: 1.4;
    text-align: justify;
  }
  
  .text-container p {
    margin: 0;
    margin-bottom: 20px;
  }
  
  .back-button {
    background-color: white;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }